.page-container {
  padding: 20px;
}

.form-cotizacion {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd;
}

.form-cotizacion input,
.form-cotizacion select,
.form-cotizacion textarea {
  padding: 8px;
}

.vendedor-asignado {
  font-size: 14px;
  color: #444;
}

.item-cotizacion {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.tabla-cotizaciones {
  width: 100%;
  border-collapse: collapse;
}

.tabla-cotizaciones th,
.tabla-cotizaciones td {
  border: 1px solid #ccc;
  color: black;
  padding: 10px;
}

.acciones button {
  margin-right: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0006;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 380px;
}